<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">AFPA 2020 - Node</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">A propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/datas2">Données1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/datas2/p1/p2">Données2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/datas3">Données3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/datas4">Données4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/form_article">Ajout article</a>
      </li>
    </ul>
  </nav>